DATABASE_URL="postgresql://pasarkita:YOUR_ENCODED_PASSWORD@pasarkita-postgres:5432/pasarkita?schema=public"
NEXTAUTH_SECRET="change-this-long-random-secret"
NEXTAUTH_URL="http://172.31.254.202:3001"
NODE_ENV="production"
